# coding: utf-8

"""
    Synchra API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 2.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class ChannelViewerApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def viewer_info_api2_channels_channel_id_viewers_provider_provider_viewer_id_get(self, channel_id, provider, provider_viewer_id, **kwargs):  # noqa: E501
        """Viewer Info  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.viewer_info_api2_channels_channel_id_viewers_provider_provider_viewer_id_get(channel_id, provider, provider_viewer_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object channel_id: (required)
        :param object provider: (required)
        :param object provider_viewer_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.viewer_info_api2_channels_channel_id_viewers_provider_provider_viewer_id_get_with_http_info(channel_id, provider, provider_viewer_id, **kwargs)  # noqa: E501
        else:
            (data) = self.viewer_info_api2_channels_channel_id_viewers_provider_provider_viewer_id_get_with_http_info(channel_id, provider, provider_viewer_id, **kwargs)  # noqa: E501
            return data

    def viewer_info_api2_channels_channel_id_viewers_provider_provider_viewer_id_get_with_http_info(self, channel_id, provider, provider_viewer_id, **kwargs):  # noqa: E501
        """Viewer Info  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.viewer_info_api2_channels_channel_id_viewers_provider_provider_viewer_id_get_with_http_info(channel_id, provider, provider_viewer_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object channel_id: (required)
        :param object provider: (required)
        :param object provider_viewer_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['channel_id', 'provider', 'provider_viewer_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method viewer_info_api2_channels_channel_id_viewers_provider_provider_viewer_id_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'channel_id' is set
        if self.api_client.client_side_validation and ('channel_id' not in params or
                                                       params['channel_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `channel_id` when calling `viewer_info_api2_channels_channel_id_viewers_provider_provider_viewer_id_get`")  # noqa: E501
        # verify the required parameter 'provider' is set
        if self.api_client.client_side_validation and ('provider' not in params or
                                                       params['provider'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `provider` when calling `viewer_info_api2_channels_channel_id_viewers_provider_provider_viewer_id_get`")  # noqa: E501
        # verify the required parameter 'provider_viewer_id' is set
        if self.api_client.client_side_validation and ('provider_viewer_id' not in params or
                                                       params['provider_viewer_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `provider_viewer_id` when calling `viewer_info_api2_channels_channel_id_viewers_provider_provider_viewer_id_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'channel_id' in params:
            path_params['channel_id'] = params['channel_id']  # noqa: E501
        if 'provider' in params:
            path_params['provider'] = params['provider']  # noqa: E501
        if 'provider_viewer_id' in params:
            path_params['provider_viewer_id'] = params['provider_viewer_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/2/channels/{channel_id}/viewers/{provider}/{provider_viewer_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def viewer_search_api2_viewer_search_get(self, query, **kwargs):  # noqa: E501
        """Viewer Search  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.viewer_search_api2_viewer_search_get(query, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object query: (required)
        :param object exact:
        :param object provider:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.viewer_search_api2_viewer_search_get_with_http_info(query, **kwargs)  # noqa: E501
        else:
            (data) = self.viewer_search_api2_viewer_search_get_with_http_info(query, **kwargs)  # noqa: E501
            return data

    def viewer_search_api2_viewer_search_get_with_http_info(self, query, **kwargs):  # noqa: E501
        """Viewer Search  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.viewer_search_api2_viewer_search_get_with_http_info(query, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object query: (required)
        :param object exact:
        :param object provider:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['query', 'exact', 'provider']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method viewer_search_api2_viewer_search_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'query' is set
        if self.api_client.client_side_validation and ('query' not in params or
                                                       params['query'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `query` when calling `viewer_search_api2_viewer_search_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'query' in params:
            query_params.append(('query', params['query']))  # noqa: E501
        if 'exact' in params:
            query_params.append(('exact', params['exact']))  # noqa: E501
        if 'provider' in params:
            query_params.append(('provider', params['provider']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/2/viewer-search', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def viewer_watched_streams_api2_channels_channel_id_viewers_provider_provider_viewer_id_streams_get(self, channel_id, provider, provider_viewer_id, **kwargs):  # noqa: E501
        """Viewer Watched Streams  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.viewer_watched_streams_api2_channels_channel_id_viewers_provider_provider_viewer_id_streams_get(channel_id, provider, provider_viewer_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object channel_id: (required)
        :param object provider: (required)
        :param object provider_viewer_id: (required)
        :param object cursor:
        :param object per_page:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.viewer_watched_streams_api2_channels_channel_id_viewers_provider_provider_viewer_id_streams_get_with_http_info(channel_id, provider, provider_viewer_id, **kwargs)  # noqa: E501
        else:
            (data) = self.viewer_watched_streams_api2_channels_channel_id_viewers_provider_provider_viewer_id_streams_get_with_http_info(channel_id, provider, provider_viewer_id, **kwargs)  # noqa: E501
            return data

    def viewer_watched_streams_api2_channels_channel_id_viewers_provider_provider_viewer_id_streams_get_with_http_info(self, channel_id, provider, provider_viewer_id, **kwargs):  # noqa: E501
        """Viewer Watched Streams  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.viewer_watched_streams_api2_channels_channel_id_viewers_provider_provider_viewer_id_streams_get_with_http_info(channel_id, provider, provider_viewer_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object channel_id: (required)
        :param object provider: (required)
        :param object provider_viewer_id: (required)
        :param object cursor:
        :param object per_page:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['channel_id', 'provider', 'provider_viewer_id', 'cursor', 'per_page']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method viewer_watched_streams_api2_channels_channel_id_viewers_provider_provider_viewer_id_streams_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'channel_id' is set
        if self.api_client.client_side_validation and ('channel_id' not in params or
                                                       params['channel_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `channel_id` when calling `viewer_watched_streams_api2_channels_channel_id_viewers_provider_provider_viewer_id_streams_get`")  # noqa: E501
        # verify the required parameter 'provider' is set
        if self.api_client.client_side_validation and ('provider' not in params or
                                                       params['provider'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `provider` when calling `viewer_watched_streams_api2_channels_channel_id_viewers_provider_provider_viewer_id_streams_get`")  # noqa: E501
        # verify the required parameter 'provider_viewer_id' is set
        if self.api_client.client_side_validation and ('provider_viewer_id' not in params or
                                                       params['provider_viewer_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `provider_viewer_id` when calling `viewer_watched_streams_api2_channels_channel_id_viewers_provider_provider_viewer_id_streams_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'channel_id' in params:
            path_params['channel_id'] = params['channel_id']  # noqa: E501
        if 'provider' in params:
            path_params['provider'] = params['provider']  # noqa: E501
        if 'provider_viewer_id' in params:
            path_params['provider_viewer_id'] = params['provider_viewer_id']  # noqa: E501

        query_params = []
        if 'cursor' in params:
            query_params.append(('cursor', params['cursor']))  # noqa: E501
        if 'per_page' in params:
            query_params.append(('per_page', params['per_page']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/2/channels/{channel_id}/viewers/{provider}/{provider_viewer_id}/streams', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
